.pulse-circle {
    width: 36px; /* Reducir el ancho */
    height: 36px; /* Reducir el alto */
    background-color: transparent;
    border-radius: 50%; /* Mantener la forma circular */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); */
    }
    70% {
        transform: scale(1.1);
        /* box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); */
    }
    100% {
        transform: scale(1);
        /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); */
    }
}